@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: oklch(0.1450 0 0);
  --card: oklch(0.8647 0.0055 17.2639);
  --card-foreground: oklch(0.1450 0 0);
  --popover: oklch(0.7467 0.0162 17.5218);
  --popover-foreground: oklch(17.89% 0.06279 26.328);
  --primary: oklch(0.2986 0.1124 27.4950);
  --primary-foreground: oklch(96.304% 0.00519 106.824);
  --secondary: oklch(86.42% 0.01332 17.01);
  --secondary-foreground: oklch(0.2050 0 0);
  --muted: oklch(18.452% 0.04143 21.926);
  --muted-foreground: oklch(19.043% 0.0461 22.435);
  --accent: oklch(76.205% 0.01963 17.35);
  --accent-foreground: oklch(0.2050 0 0);
  --destructive: oklch(28.048% 0.10793 27.889);
  --destructive-foreground: oklch(84.211% 0.10014 97.396);
  --border: oklch(0.2192 0.0661 24.4021);
  --input: oklch(0.5925 0.0086 17.3980);
  --ring: oklch(0.7080 0 0);
  --chart-1: oklch(0.2461 0.0898 26.9545);
  --chart-2: oklch(0.1903 0.0049 17.5913);
  --chart-3: oklch(0.5759 0.1041 97.5613);
  --chart-4: oklch(0.6912 0.0023 17.2143);
  --chart-5: oklch(0.3636 0.1199 25.4666);
  --sidebar: #470b09;
  --sidebar-foreground: oklch(93.635% 0.00321 15.392);
  --sidebar-primary: oklch(0.2050 0 0);
  --sidebar-primary-foreground: oklch(81.826% 0.0101 16.858);
  --sidebar-accent: oklch(87.939% 0.0088 16.7);
  --sidebar-accent-foreground: oklch(0.2050 0 0);
  --sidebar-border: oklch(0.9220 0 0);
  --sidebar-ring: oklch(0.7080 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(14.891% 0.06677 285.022);
  --foreground: oklch(0.7085 0.1174 107.3687);
  --card: oklch(58.484% 0.11648 101.036 / 0.527);
  --card-foreground: oklch(90.057% 0.11195 103.427);
  --popover: oklch(0.2690 0 0);
  --popover-foreground: oklch(88.634% 0.00989 16.784);
  --primary: oklch(28.469% 0.05095 86.58);
  --primary-foreground: oklch(85.776% 0.08338 99.623);
  --secondary: oklch(42.582% 0.00262 16.246);
  --secondary-foreground: oklch(0.2960 0.1086 27.0445);
  --muted: oklch(67.023% 0.02278 17.552);
  --muted-foreground: oklch(90.122% 0.13183 107.853);
  --accent: oklch(0.3710 0 0);
  --accent-foreground: oklch(99.107% 0.00011 271.152);
  --destructive: oklch(24.785% 0.07231 24.033);
  --destructive-foreground: oklch(85.855% 0.13991 107.686);
  --border: oklch(57.124% 0.21021 27.086);
  --input: oklch(82.813% 0.01919 17.278);
  --ring: oklch(0.5560 0 0);
  --chart-1: oklch(0.6699 0.1367 110.5548);
  --chart-2: oklch(0.7063 0.1344 104.4363);
  --chart-3: oklch(0.1383 0.0580 273.4313);
  --chart-4: oklch(0.2215 0.0770 26.2034);
  --chart-5: oklch(0.2992 0.0029 17.3180);
  --sidebar: oklch(0.2406 0.0725 24.3906);
  --sidebar-foreground: oklch(93.242% 0.14479 109.773);
  --sidebar-primary: oklch(0.2319 0.0804 26.1587);
  --sidebar-primary-foreground: oklch(59.524% 0.12085 104.984);
  --sidebar-accent: oklch(0.2690 0 0);
  --sidebar-accent-foreground: oklch(90.33% 0.08241 102.642);
  --sidebar-border: oklch(0.2750 0 0);
  --sidebar-ring: oklch(0.4390 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}